header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
div.container div.band{
        flex-basis: 22%;
        margin: 0;
        margin-right: 2%;
    }


/*----------- FOOTER --------------*/
    
