


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
div#myCards{
    figure{
        margin: 0;
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
        figcaption{
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, .5);
            width: 100%;
            padding: .5rem 2vw;
        }
    }
    div.container{
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        ion-icon{
            margin: 16px 0;
        }
        p{
            

        }
    }
}


/*----------- FOOTER --------------*/
    
